In [1]:
import os
import pathlib
import sys
import csv
import json

import numpy as np
import pandas as pd

## Term dataset view

In [3]:
df = pd.read_pickle('./dataset-term.pkl')
df.head()

,text,title,id,label
0,제 1 조 (계약의 목적)\n본 계약은 을이 갑의 000 상품을 상호 협의한 할인매...,공급계약,199,disadvantageous
1,제1조 (목 적)\n000(이하 요양센터)는 시설에 입소한 이용자에 대하여 노인장기...,"입소,입주,입점계약",084,disadvantageous
2,갑종부동산관리신탁계약서 \n\n \n \n\n위탁자 (이하 위탁자 라 한다)는(...,예식업,166,disadvantageous
3,"제1조(계약금액 및 납부기한)\n1. 을 은 계약과 동시에 계약금을 지불하고, ...",분양계약,036,disadvantageous
4,제1조 (분양금액)\n위 표시 물건의 분양금액은 금 ( )원정(부가...,분양계약,028,disadvantageous

In [4]:
df['label'].unique()

array(['disadvantageous', 'advantageous'], dtype=object)

In [5]:
df['label'].value_counts()

advantageous       5600
disadvantageous    2400
Name: label, dtype: int64

In [6]:
df['text'].map(len).describe()

count      8000.000000
mean       9897.577250
std        9227.266921
min           0.000000
25%        4173.750000
50%        6785.500000
75%       12330.000000
max      133747.000000
Name: text, dtype: float64

In [11]:
df.reset_index().to_json('./dataset-term.json')